.menu-container {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  transform: translateX(100vw);

  width: 100vw;
  height: 100vh;
  background-color: white;
  padding: 21px 25px 48px 40px;

  transition: 0.3s;

  &.is-open {
    transform: translateX(0);
  }
}

.menu-toggle {
  border: 0;
  background-color: transparent;
  font-size: 2rem;
  display: flex;
  align-items: center;
  &:hover,
  &:focus {
    cursor: pointer;
    color: $brand-blue;
    padding: 0;
    margin: 0;
  }
}

.mobile__button-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
