.pageHeader {
  border-bottom: 1px solid $brand-grey-white;
}
.pageHeader__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 25px;
  display: flex;
  justify-content: space-between;

  @media screen and ($mobile-size) {
    padding-top: 16px;
    padding-bottom: 16px;

    // .menu-navigation__links {
    //   display: flex;
    //   flex-direction: column;
    //   row-gap: 32px;
    // }
    // .menu-navigation__link--agency,
    // .menu-navigation__link--portfolio {
    //   color: #2196f3;
    //   font-size: 40px;
    //   font-weight: 500;
    //   line-height: 1.18;
    // }
    // .menu-container__box {
    //   display: flex;
    //   flex-direction: column;
    //   row-gap: 64px;
    // }
    // .menu-container.is-open {
    //   transform: translateX(0);
    // }
    // .menu-navigation__link--agency,
    // .menu-navigation__link--portfolio {
    //   color: #2196f3;
    //   font-size: 40px;
    //   font-weight: 500;
    //   line-height: 1.18;
    // }
    // .menu-navigation__link {
    //   color: #212121;
    //   font-size: 40px;
    //   font-weight: 500;
    //   line-height: 1.18;
    // }
    // .menu-container__contact {
    //   display: flex;
    //   flex-direction: column;
    //   row-gap: 32px;
    // }
    // .menu-container__phone {
    //   font-weight: 500;
    //   font-size: 34px;
    //   line-height: 1.17;
    //   letter-spacing: 0.02em;
    //   color: #2196f3;
    // }
    // .menu-container__mail {
    //   font-weight: 500;
    //   font-size: 24px;
    //   line-height: 1.17;
    //   letter-spacing: 0.02em;
    //   color: #757575;
    // }
    // .menu-container__media {
    //   display: flex;
    //   align-items: center;
    // }
    // .menu-container__media-link {
    //   font-weight: 500px;
    //   color: #2196f3;
    //   font-size: 18px;
    //   line-height: 1.22;
    //   letter-spacing: 0.02em;
    // }
    // .nav__contact {
    //   display: none;
    // }
  }

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    flex-direction: column;
    row-gap: 10px;
    width: auto;
  }
}
.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  height: 30px;
  width: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #0000001a;
  background-color: #fff;
  padding: 6px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  fill: var(--brand-lightgrey);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pageHeader {
  border-bottom: 1px solid $brand-grey-white;
}
.menu-container__media {
  display: flex;
  align-items: center;
}
.menu-container {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  -webkit-transform: translateX(100vw);
  transform: translateX(100vw);
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 21px 25px 48px 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.pageHeader__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 25px;
  display: flex;
  justify-content: space-between;
}
// .menu-toggle,
// .js-opne,
// .mobile__icon-menu,

//   display: flex;
// }
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  margin-right: 93px;
  &:hover {
    text-decoration: none;
  }
  &__web {
    font-size: 26px;
    letter-spacing: 0.03em;
    color: $brand-blue;
    line-height: 1.2;
    font-weight: 700;
  }
  &__studio {
    font-size: 26px;
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 1.2;
    color: $just-black;
  }
}
.nav__contact {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.nav__mailto,
.nav__tel {
  display: flex;
}
.menu-navigation__icon {
  display: none;
}
.menu-navigation__links {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.menu-container__box {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-navigation__link--agency,
.menu-navigation__link--portfolio {
  color: #2196f3;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
}
.menu-navigation__link {
  color: #212121;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
}
.menu-container__contact {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.menu-container__phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.menu-container__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}
.menu-container__media {
  display: flex;
  align-items: center;
  padding: 0;
}
.menu-container__media-link {
  font-weight: 500px;
  color: #2196f3;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.menu-navigation__links {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
